<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css'%}">
    <title>Desafio 9</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Bienvenidos al Desafio 10 del Grupo 1</h1>
    <sub>
        Participantes del Grupo 1
    </sub>
    
    <div class="participantes">
        <div class="contparticipantes">
            <div class="headinfo">
                <!--Las imagenes deberian estar en media , pero no sabia como hacerlo funcionar-->
                <img src="{% static 'lucas.jpg' %}" alt="Imagen">
                <p class="nombre">Lucas Alfonsin</p>
            </div>
            <div class="footinfo">
                <span>Oriundo de Saenz Peña , de 20 años , Estudiando Desarrollo de Software</span>
            </div>
        </div>
        <div class="contparticipantes">
            <div class="headinfo">
                <img src="" alt="Imagen">
                <p class="nombre">Lucas Alfonsin</p>
            </div>
            <div class="footinfo">
                <span>Oriundo de Saenz Peña , de 20 años , Estudiando Desarrollo de Software</span>
            </div>
        </div>
        <div class="contparticipantes">
            <div class="headinfo">
                <img src="" alt="Imagen">
                <p class="nombre">Lucas Alfonsin</p>
            </div>
            <div class="footinfo">
                <span>Oriundo de Saenz Peña , de 20 años , Estudiando Desarrollo de Software</span>
            </div>
        </div>
        <div class="contparticipantes">
            <div class="headinfo">
                <img src="" alt="Imagen">
                <p class="nombre">Lucas Alfonsin</p>
            </div>
            <div class="footinfo">
                <span>Oriundo de Saenz Peña , de 20 años , Estudiando Desarrollo de Software</span>
            </div>
        </div>
        <div class="contparticipantes">
            <div class="headinfo">
                <img src="" alt="Imagen">
                <p class="nombre">Melisa Martinetti</p>
            </div>
            <div class="footinfo">
                <span>Oriundo Resistencia , de 27 años , Estudiando Licenciatura en Economia</span>
            </div>
        </div>
    </div>
</body>
</html>